#cloud-config
write_files:
  - path: /etc/rancher/k3s/config.yaml
    permissions: "0600"
    content: |
      server: https://${control_plane_ip}:6443
      token: ${k3s_token}
%{ if length(agent_labels) > 0 ~}
      node-label:
%{ for label in agent_labels ~}
        - ${label}
%{ endfor ~}
%{ endif ~}
%{ if length(agent_taints) > 0 ~}
      node-taint:
%{ for taint in agent_taints ~}
        - ${taint}
%{ endfor ~}
%{ endif ~}
      flannel-backend: ${flannel_backend}
