token: ${k3s_token}
tls-san:
%{ for san in control_plane_tls_sans ~}
  - ${san}
%{ endfor ~}
node-taint:
%{ for taint in control_plane_taints ~}
  - ${taint}
%{ endfor ~}
node-label:
%{ for label in control_plane_labels ~}
  - ${label}
%{ endfor ~}
disable:
%{ for component in disable_components ~}
  - ${component}
%{ endfor ~}
%{ if disable_kube_proxy ~}
disable-kube-proxy: true
%{ endif ~}
%{ if disable_cloud_controller ~}
disable-cloud-controller: true
%{ endif ~}
%{ if disable_network_policy ~}
disable-network-policy: true
%{ endif ~}
%{ if embedded_registry ~}
embedded-registry: true
%{ endif ~}
flannel-backend: ${flannel_backend}
%{ if length(kube_apiserver_args) > 0 ~}
kube-apiserver-arg:
%{ for arg in kube_apiserver_args ~}
  - ${arg}
%{ endfor ~}
%{ endif ~}

